<h2>Show Item</h2>

<ul>

  <li>
    <strong>Item name:</strong>
    <%= @item.item_name %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @item.amount %>
  </li>

</ul>

<span><%= link "Edit", to: item_path(@conn, :edit, @item) %></span>
<span><%= link "Back", to: item_path(@conn, :index) %></span>
