<h2>Edit Parkings</h2>

<%# <%= render "form.html", Map.put(assigns, :action, parkings_path(@conn, :update, @parkings)) %> %>

<%# <span><%= link "Back", to: parkings_path(@conn, :index) %>
<%# </span> %> %>
