<h2>Listing Oarkings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Parkings name</th>
      <th>Place</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for parkings <- @oarkings do %>
    <tr>
      <td><%= parkings.parkings_name %></td>
      <td><%= parkings.place %></td>

      <td class="text-right">
       
  
      </td>
    </tr>
<% end %>
  </tbody>
</table>


