<h2>Show Parkings</h2>

<ul>

  <li>
    <strong>Parkings name:</strong>
    <%= @parkings.parkings_name %>
  </li>

  <li>
    <strong>Place:</strong>
    <%= @parkings.place %>
  </li>

</ul>

<span><%= link "Edit", to: parkings_path(@conn, :edit, @parkings) %></span>
<span><%= link "Back", to: parkings_path(@conn, :index) %></span>
