<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :Product, class: "control-label" %>
    <%= text_input f, :Product, class: "form-control" %>
    <%= error_tag f, :Product %>
  </div>

  <div class="form-group">
    <%= label f, :Name, class: "control-label" %>
    <%= text_input f, :Name, class: "form-control" %>
    <%= error_tag f, :Name %>
  </div>

  <div class="form-group">
    <%= label f, :Quantity, class: "control-label" %>
    <%= text_input f, :Quantity, class: "form-control" %>
    <%= error_tag f, :Quantity %>
  </div>

  <div class="form-group">
    <%= label f, :Votes, class: "control-label" %>
    <%= text_input f, :Votes, class: "form-control" %>
    <%= error_tag f, :Votes %>
  </div>

  <div class="form-group">
    <%= label f, :Average_Rate, class: "control-label" %>
    <%= text_input f, :Average_Rate, class: "form-control" %>
    <%= error_tag f, :Average_Rate %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
