<h2>Listing Ratings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Votes</th>
      <th>Average rate</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for ratings <- @ratings do %>
    <tr>
      <td><%= ratings.Name %></td>
      <td><%= ratings.Quantity %></td>
      <td><%= ratings.Votes %></td>
      <td><%= ratings.Average_Rate %></td>

      <td class="text-right">
        <span><%= link "Show", to: ratings_path(@conn, :show, ratings), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: ratings_path(@conn, :edit, ratings), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: ratings_path(@conn, :delete, ratings), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Ratings", to: ratings_path(@conn, :new) %></span>
