<h2>Show Ratings</h2>

<ul>

  <li>
    <strong>Product:</strong>
    <%= @ratings.Product %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @ratings.Name %>
  </li>

  <li>
    <strong>Quantity:</strong>
    <%= @ratings.Quantity %>
  </li>

  <li>
    <strong>Votes:</strong>
    <%= @ratings.Votes %>
  </li>

  <li>
    <strong>Average rate:</strong>
    <%= @ratings.Average_Rate %>
  </li>

</ul>

<span><%= link "Edit", to: ratings_path(@conn, :edit, @ratings) %></span>
<span><%= link "Back", to: ratings_path(@conn, :index) %></span>
