<%= form_for @changeset, @action, fn f -> %>

  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :score, class: "control-label" %>
    <%= text_input f, :score, class: "form-control" %>
    <%= error_tag f, :score %>
  </div>


  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>