<h2>Rate Product</h2>
  <li>
    <strong>Product:</strong>
    <%= @ratings.product %>
  </li>

<%= render "formRate.html", Map.put(assigns, :action, ratings_path(@conn, :updateRating, @ratings)) %>

