<h2>Listing Ratings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th># of Votes</th>
      <th>Average Rate</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for ratings <- @ratings do %>
    <tr>
      <td><%= ratings.product %></td>
      <td><%= ratings.quantity %></td>
      <td><%= ratings.votes %></td>
      <td><%= ratings.rate %></td>

      <td class="text-right">
        <span><%= link "Rate", to: ratings_path(@conn, :givingRate, ratings), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>


