<h2>Show Ratings</h2>

<ul>

  <li>
    <strong>Product:</strong>
    <%= @ratings.product %>
  </li>

  <li>
    <strong>Quantity:</strong>
    <%= @ratings.quantity %>
  </li>

  <li>
    <strong>Votes:</strong>
    <%= @ratings.votes %>
  </li>

  <li>
    <strong>Rate:</strong>
    <%= @ratings.rate %>
  </li>

</ul>

<span><%= link "Edit", to: ratings_path(@conn, :edit, @ratings) %></span>
<span><%= link "Back", to: ratings_path(@conn, :index) %></span>
